<mat-sidenav-container class="fullscreen">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item *ngFor="let link of links">
        <mat-icon matListIcon>{{ link.icon }}</mat-icon>
        <a matLine routerLink="{{ link.target }}">{{ link.label }}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ul class="breadcrumb mat-body-2">
      <li *ngFor="let step of path" class="breadcrumb-item"><mat-icon matListIcon>{{ step.icon }}</mat-icon> <a routerLink="{{ step.target }}">{{ step.label }}</a></li>
    </ul>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>