<mat-toolbar>
  <span>{{srv.currentLayoutTitle}}</span>
  <button mat-icon-button [matMenuTriggerFor]="layoutMenu">
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #layoutMenu="matMenu">
    <button mat-menu-item *ngFor="let layout of srv.layouts | async" (click)="onLayoutSelection(layout.layoutid)">
      {{layout.title}}
    </button>
  </mat-menu>
  <span class="toolbar-spacer"></span>
  <div *ngIf="srv.isLayoutLoaded">
    <button *ngIf="!srv.isEditing" mat-icon-button (click)="onEditDashboard()">
      <mat-icon>edit</mat-icon>
    </button>
    <div *ngIf="srv.isEditing">
      <button mat-icon-button (click)="onDoneDashboard(true)">
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button (click)="onDoneDashboard(false)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="accountMenu">
      <mat-icon>folder_shared</mat-icon>Switch account
    </button>
    <button mat-menu-item (click)="onLogoff()">
      <mat-icon>exit_to_app</mat-icon>Sign out
    </button>
  </mat-menu>
  <mat-menu #accountMenu="matMenu">
    <button mat-menu-item *ngFor="let account of accounts | async" (click)="onSwitchAccount(account.accid)">
      {{account.name}}
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>