<h1 mat-dialog-title>{{title}}</h1>
<mat-dialog-content class="dialog-layout">
    <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="accInfo.name">
    </mat-form-field>
    <mat-form-field>
        <textarea matInput placeholder="Description" [(ngModel)]="accInfo.description" class="dialog-description"></textarea>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="dialog-toolbar">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="onSave()">Save</button>
</mat-dialog-actions>