<table class="layout-table">
  <tbody>
    <tr *ngFor="let row of layoutRows" class="layout-row">
      <td *ngFor="let col of row.cols" [width]="col.width" [attr.rowspan]="col.rowspan" [attr.colspan]="col.colspan" [dragula]="dragGroup">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Title
            </mat-panel-title>
            <mat-panel-description>
              Description
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template dashboard-tile-host></ng-template>
          <mat-action-row>
            <button mat-button>Click me</button>
          </mat-action-row>
        </mat-expansion-panel>
      </td>
    </tr>
  </tbody>
</table>