<mat-toolbar>
  <mat-select [value]="currentLayoutid" (selectionChange)="onLayoutSelection($event)">
    <mat-option *ngFor="let layout of layouts | async" [value]="layout.layoutid">
      {{layout.title}}
    </mat-option>
  </mat-select>
  <span class="toolbar-spacer"></span>
</mat-toolbar>
<table class="layout-table">
  <tbody>
    <tr *ngFor="let row of layoutRows | async">
      <td *ngFor="let col of row.cols" [width]="col.width" [attr.rowspan]="col.rowspan" [attr.colspan]="col.colspan">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Title
            </mat-panel-title>
            <mat-panel-description>
              Description
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Content</p>
          <mat-action-row>
            <button mat-button>Click me</button>
          </mat-action-row>
        </mat-expansion-panel>
      </td>
    </tr>
  </tbody>
</table>